{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div class="cart-container">
    <h2>Заявка ID: {{ order_id }}</h2>
    {% if cart_items %}
        {% for item in cart_items %}
        <div class="cart-card">
            {% comment %} <img src="http://127.0.0.1:9000/zzz/png{{ item.id }}.jpg" alt="{{ item.name }}" class="cart-image"> {% endcomment %}
            <p class="cart-title">Заявка: {{ item.name }}</p>
            <p class="cart-quantity">Количество найденных: {{ item.quantity }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
</div>


{% comment %} <div class="order-form">
    <form method="POST">
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Ваша почта:</label>
        <input type="email" id="email" name="email" required><br>
    </form>
</div> {% endcomment %}


{% endblock %}