{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div class="cart-page">
    <div class="cart-container">
        <h2>Заявка ID: {{ order_id }}</h2>
        
        <div class="cart-layout">
            <div class="period-cart-card">
                <h3>{{ period.name }}</h3>
                {% if period.image %}
                    <img src="{{ period.image }}" alt="Картинка периода" class="period-cart-image">
                {% else %}
                    <p>Изображение недоступно</p>
                {% endif %}
                <p>Найдено животных: {{ period.found_quantity }}</p>
            </div>
            
            <div class="animals-list">
                {% if order_items %}
                    {% for item in order_items %}
                    <div class="animal-card">
                        <p class="animal-name">Животное: {{ item.name }}</p>
                        <p class="animal-quantity">Количество найденных: {{ item.quantity }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Нет животных в этом заказе</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
